POSTGRES_DB=biblioteca
POSTGRES_USER=biblioteca_user
POSTGRES_PASSWORD=biblioteca_password
DEMO_AUTH_EMAIL=admin@biblioteca.local
DEMO_AUTH_PASSWORD=admin123
DEMO_AUTH_NAME=Bibliotecário(a)
FRONTEND_PORT=3000
BACKEND_PORT=8080
